n8n-workflows/claires-stuff-password.json
{
  "name": "Claire Watson Site — Claire's Stuff Password Store",
  "nodes": [
    {
      "id": "e5f6a7b8-0001-4000-9000-eeeeeeeeeeee",
      "name": "Webhook — Check",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 240],
      "parameters": {
        "httpMethod": "POST",
        "path": "claires-stuff-pw-check",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      }
    },
    {
      "id": "e5f6a7b8-0002-4000-9000-eeeeeeeeeeee",
      "name": "Check Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 240],
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\n\n// Seed initial password hash (SHA-256 of 'ClubbersWatson???') on first run\nif (!store.pwHash) {\n  store.pwHash = '50d71f9f961711ffced0db1f0dbc8c0ccf654ac9a22695b62591a82ede4e4e1f';\n}\n\nconst body = $input.first().json.body ?? $input.first().json;\nconst { hash } = body;\n\nif (!hash) return [{ json: { valid: false } }];\n\nconst valid = (hash === store.pwHash);\nreturn [{ json: { valid } }];"
      }
    },
    {
      "id": "e5f6a7b8-0003-4000-9000-eeeeeeeeeeee",
      "name": "Respond — Check",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 240],
      "parameters": { "respondWith": "firstIncomingItem", "options": {} }
    },
    {
      "id": "e5f6a7b8-0004-4000-9000-eeeeeeeeeeee",
      "name": "Webhook — Update",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 440],
      "parameters": {
        "httpMethod": "POST",
        "path": "claires-stuff-pw-update",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      }
    },
    {
      "id": "e5f6a7b8-0005-4000-9000-eeeeeeeeeeee",
      "name": "Update Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 440],
      "parameters": {
        "jsCode": "const store = $getWorkflowStaticData('global');\n\nif (!store.pwHash) {\n  store.pwHash = '50d71f9f961711ffced0db1f0dbc8c0ccf654ac9a22695b62591a82ede4e4e1f';\n}\n\nconst body = $input.first().json.body ?? $input.first().json;\nconst { currentHash, newHash } = body;\n\nif (!currentHash || !newHash) return [{ json: { success: false, error: 'Missing fields' } }];\nif (currentHash !== store.pwHash) return [{ json: { success: false, error: 'Wrong current password' } }];\nif (newHash.length !== 64) return [{ json: { success: false, error: 'Invalid hash' } }];\n\nstore.pwHash = newHash;\nreturn [{ json: { success: true } }];"
      }
    },
    {
      "id": "e5f6a7b8-0006-4000-9000-eeeeeeeeeeee",
      "name": "Respond — Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 440],
      "parameters": { "respondWith": "firstIncomingItem", "options": {} }
    }
  ],
  "connections": {
    "Webhook — Check":  { "main": [[{ "node": "Check Password",    "type": "main", "index": 0 }]] },
    "Check Password":   { "main": [[{ "node": "Respond — Check",   "type": "main", "index": 0 }]] },
    "Webhook — Update": { "main": [[{ "node": "Update Password",   "type": "main", "index": 0 }]] },
    "Update Password":  { "main": [[{ "node": "Respond — Update",  "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
