n8n-workflows/tmf-event-write.json
{
  "name": "TMF — Event Write (Add / Update / Delete)",
  "nodes": [
    {
      "id": "ew-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 360],
      "parameters": {
        "httpMethod": "POST",
        "path": "tmf-event-write",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      }
    },
    {
      "id": "ew-002",
      "name": "IF — Add?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 360],
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ ($json.body ?? $json).action }}", "operation": "equal", "value2": "add" }]
        }
      }
    },
    {
      "id": "ew-003",
      "name": "Append Event",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 220],
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": { "__rl": true, "value": "1B3yztUrFa8b0H1vx7Jt6qywccwEHNo7rJ9HBUeG602c", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Marketing & Events", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Member ID":          "={{ ($json.body ?? $json).event['Member ID'] }}",
            "Date":               "={{ ($json.body ?? $json).event['Date'] }}",
            "Type":               "={{ ($json.body ?? $json).event['Type'] }}",
            "Event / Initiative": "={{ ($json.body ?? $json).event['Event / Initiative'] }}",
            "Notes":              "={{ ($json.body ?? $json).event['Notes'] }}",
            "Record ID":          "={{ ($json.body ?? $json).event['Record ID'] }}",
            "Deleted":            ""
          },
          "matchingColumns": [], "schema": []
        },
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets account" } }
    },
    {
      "id": "ew-004",
      "name": "IF — Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 480],
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ ($json.body ?? $json).action }}", "operation": "equal", "value2": "update" }]
        }
      }
    },
    {
      "id": "ew-005",
      "name": "Update Event",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 380],
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": { "__rl": true, "value": "1B3yztUrFa8b0H1vx7Jt6qywccwEHNo7rJ9HBUeG602c", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Marketing & Events", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["Record ID"],
          "value": {
            "Member ID":          "={{ ($json.body ?? $json).event['Member ID'] }}",
            "Date":               "={{ ($json.body ?? $json).event['Date'] }}",
            "Type":               "={{ ($json.body ?? $json).event['Type'] }}",
            "Event / Initiative": "={{ ($json.body ?? $json).event['Event / Initiative'] }}",
            "Notes":              "={{ ($json.body ?? $json).event['Notes'] }}",
            "Record ID":          "={{ ($json.body ?? $json).event['Record ID'] }}",
            "Deleted":            ""
          },
          "schema": []
        },
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets account" } }
    },
    {
      "id": "ew-006",
      "name": "Soft Delete Event",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 580],
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": { "__rl": true, "value": "1B3yztUrFa8b0H1vx7Jt6qywccwEHNo7rJ9HBUeG602c", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Marketing & Events", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["Record ID"],
          "value": {
            "Record ID": "={{ ($json.body ?? $json).event['Record ID'] }}",
            "Deleted":   "true"
          },
          "schema": []
        },
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets account" } }
    },
    {
      "id": "ew-007",
      "name": "Respond — Add",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 220],
      "parameters": { "respondWith": "json", "responseBody": "={ \"success\": true, \"action\": \"add\" }", "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] } } }
    },
    {
      "id": "ew-008",
      "name": "Respond — Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 380],
      "parameters": { "respondWith": "json", "responseBody": "={ \"success\": true, \"action\": \"update\" }", "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] } } }
    },
    {
      "id": "ew-009",
      "name": "Respond — Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 580],
      "parameters": { "respondWith": "json", "responseBody": "={ \"success\": true, \"action\": \"delete\" }", "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] } } }
    }
  ],
  "connections": {
    "Webhook":       { "main": [[{ "node": "IF — Add?",        "type": "main", "index": 0 }]] },
    "IF — Add?":     { "main": [[{ "node": "Append Event",     "type": "main", "index": 0 }],
                                 [{ "node": "IF — Update?",     "type": "main", "index": 0 }]] },
    "IF — Update?":  { "main": [[{ "node": "Update Event",     "type": "main", "index": 0 }],
                                 [{ "node": "Soft Delete Event", "type": "main", "index": 0 }]] },
    "Append Event":      { "main": [[{ "node": "Respond — Add",    "type": "main", "index": 0 }]] },
    "Update Event":      { "main": [[{ "node": "Respond — Update", "type": "main", "index": 0 }]] },
    "Soft Delete Event": { "main": [[{ "node": "Respond — Delete", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
