n8n-workflows/tmf-member-update.json
{
  "name": "TMF — Member Update (Churn / Contribution Override)",
  "nodes": [
    {
      "id": "mu-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 360],
      "parameters": {
        "httpMethod": "POST",
        "path": "tmf-member-update",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      }
    },
    {
      "id": "mu-002",
      "name": "Update Member",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 360],
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": { "__rl": true, "value": "1B3yztUrFa8b0H1vx7Jt6qywccwEHNo7rJ9HBUeG602c", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Members", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["Member ID"],
          "value": {
            "Member ID":               "={{ ($json.body ?? $json).memberId }}",
            "Churn Risk Override":     "={{ ($json.body ?? $json).churnOverride }}",
            "Contribution Override":   "={{ ($json.body ?? $json).contribOverride }}",
            "Override Notes":          "={{ ($json.body ?? $json).notes }}"
          },
          "schema": []
        },
        "options": {}
      },
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets account" } }
    },
    {
      "id": "mu-003",
      "name": "Respond — Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 360],
      "parameters": { "respondWith": "json", "responseBody": "={ \"success\": true }", "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] } } }
    }
  ],
  "connections": {
    "Webhook":       { "main": [[{ "node": "Update Member",    "type": "main", "index": 0 }]] },
    "Update Member": { "main": [[{ "node": "Respond — Update", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
